# http://editorconfig.org/

root = true

[*]
charset = utf-8  # Use UTF-8 encoding
end_of_line = lf  # Use LF for line endings
insert_final_newline = true  # Ensure file ends with a newline
trim_trailing_whitespace = true  # Remove trailing whitespace
indent_style = space  # Use spaces for indentation
indent_size = 2  # Set indentation size to 2 spaces

[*.md]
trim_trailing_whitespace = false
max_line_length = off
